@media (max-width:1850px)
{
}

@media (max-width:1280px){
.inner_banner_txt{padding: 80px 0;}
.conctleft{width: 300px;}
.conctright {width: calc(100% - 300px);}
.form_dash{padding: 15px;}
	 
}
@media (max-width:1020px){
section{padding: 40px 0;}	
.loginsection{padding: 50px 0;}	
.inner_banner_txt{padding: 80px 0;}

.conctleft{width: 300px;}

.conctright {width: calc(100% - 300px);}

.form_dash{padding: 15px;}

               

}

@media (max-width:1020px){

section{padding: 40px 0;}            

.loginsection{padding: 50px 0;} 
.sign_con_inner{width: 100%;float: none !important; max-width: 100%; padding: 30px 20px 10px 20px;border-radius:10px 10px 0 0px; -webkit-border-radius:10px 10px 0 0px;}

.signhd{margin-bottom: 20px;}
.right_sign{width: 100%;position: relative;top:auto;bottom:auto; padding: 30px 20px;border-radius:0 0px 10px 10px; -webkit-border-radius:0 0px 10px 10px; }
.terms_list_number{padding-left: 0; min-height: auto; margin-bottom: 25px;}
.ters_hd {width: 100%;padding-right: 0px;font-size: 22px;color: #333333;line-height: 25px;position: relative;top: auto;left: auto;bottom: auto;margin: 0 0 10px 0;}
.inner_banner_txt {padding: 40px 0; font-size: 30px;}
.ters_accordian .panel-title{font-size: 17px;}
.ters_accordian .panel-body p{font-size: 14px;}
.absdress{width: 260px; left: 50%; margin-left: -130px; top:60px;}
.absdress::after {border-width: 0px 7.5px 10px 7.5px; border-color: transparent transparent #fff transparent;right: auto;margin: auto;top: -9px;left: 0; right: 0;}
.price_section{padding: 0 0 50px 0;}
.tab-content .plansub_lay_list > li{padding: 30px 15px;}
.tab-content .plansub_lay_list > li:nth-child(2){padding: 75px 15px; margin-top: -45px;}
.tab-content .plansub_lay_list > li h4 { font-size: 20px;}
.tab-content .plansub_lay_list > li .price {font-size: 45px;line-height: 45px;}
.tab-content .plansub_lay_list > li .price span{font-size: 18px;  margin-top: -12px;}
.tab-content .plansub_lay_list > li .plansub_tag_list > li{font-size: 14px;padding: 6px 0;}
.tab-content .FREE_btn{width: 100%; max-width: 193px; margin: 0 auto;}
.tab-content .FREE_btn_box{font-size: 14px;}
.dash_nav > ul > li{margin-right: 20px;}
.left_dash{width: 200px; padding-bottom: 30px;}
.right_dash{width: calc(100% - 210px);}
}


@media(max-width:767px)
{
.ftrLftWrap{margin-bottom: 15px;}

footer{padding: 25px 0px 15px 0;}

.signhd{font-size: 20px;}

.sign_con_inner{ padding: 30px 10px 10px 10px; float: none!important;}              

.sign_up_lay{padding: 0;}

.sign_up_lay p{margin-bottom: 0;}

.signhd_gray.signhd{margin-bottom:10px;}

.navbar-default .navbar-nav.loginSignUp > li{float: none; margin-bottom: 10px; margin-left: 0;}

.navbar-default .navbar-nav.headerLinks > li{padding-left: 0;}

.navbar-nav{margin: 7px 0;}

.navbar-default .navbar-collapse{border-color: #1974d2; margin-top: 10px;}

.navbar-default .navbar-nav.headerLinks > li > a:after{display: none!important; content: '';}

#progressbar {margin: 0 -2px 30px;}

#progressbar li {font-size: 10px;}

.plansub_lay_list > li h4{font-size: 13px;}

.FREE_btn_box{font-size: 10px;}

section{padding: 30px 0;}

.inner_banner_txt {padding: 30px 0; font-size: 22px;}

.ters_hd{font-size: 18px; margin-bottom: 5px;}

.ters_accordian .panel-title{font-size: 15px;}

.ters_accordian .panel-title > a{padding: 15px 36px 15px 10px; }

.ters_accordian .panel-body{padding: 0 20px 20px 10px;}

.conctleft{width: 100%; float: none;}

.conctright {width: 100%; float: none;}

.absdresslist > li {padding: 10px;}

.absdress{height: auto;}

.tabpanel_hd{margin-bottom: 20px;}

.tab-content  .plansub_lay_list > li {width: 100%; float: none; margin-bottom: 15px;}

.tab-content .plansub_lay_list > li:nth-child(2){margin-top: 0; padding: 30px 15px;}

.price_tab .nav-tabs > li > a{font-size: 16px; margin-right: 20px;}

.tab-content .plansub_lay{margin-bottom: 0;}

.dash_nav > ul > li{margin-right: 20px;}

.left_dash{width: 100%; padding-bottom: 20px;}

.right_dash{width: 100%;}

.dash_mibble_inner{padding: 10px;}

.set_hd{font-size: 15px;}

.dash_nav > ul > li{margin-right: 10px;}

.dash_nav > ul > li > a{font-size: 13px;}
}

@media(max-width:479px){

footer .icnListN li{display: block; width: 100% ;} 

.ftrHedin{margin-bottom: 10px;}

.loginsection {padding: 30px 0;}

.group46{width: 100%; float: none;}

.plansub_lay_list > li{width: 100%; float: none; margin-bottom: 15px;}

.plansub_lay_list > li:nth-child(2){margin-top: 0;width: 100%; float: none;}

.radio_month{margin-bottom: 15px;}
.dash_nav > ul > li > a .txtmob{display: none;}

}